#app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items : center;
    height: 100%;
    width: 100%;
}

.card-group {
    display: inline-block;
    vertical-align: top;
}

.filter-group {
    /* padding: 1em; */
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    width: 100%;
}
.filter-group .filter-button {
    border-width: 0px;
    border-right-width: 0.5px;
    border-style: solid;
    border-color: gray;
}
.filter-group .filter-button:first-child {
    /* border-radius: 20px 0 0 20px; */
}
.filter-group .filter-button:last-child {
    /* border-radius: 0 20px 20px 0; */
    border-right-width: 0px;
}

@media (min-width: 480px) {
    .filter-group .filter-button {
        border-right-width: 0px;
    }
}

.filter-button {
    font-size: 1.25em;
    background-color: rgb(255, 255, 255, 0.9);
    padding: 1em 1.5em;
    font-family: 'SAO Font';
    text-align: center;
    white-space: nowrap;
}
.filter-button.active {
    background-color: rgb(211, 211, 211);
}

@media (min-width: 480px) {
    .filter-button {
        font-size: 1em;
        padding: 1em 1.5em;
        box-shadow:
        0 10px 25px -15px rgba(0, 0, 0, .5),
        0 -10px 25px -15px rgba(0, 0, 0, .5);
    }
    .filter-button:hover {
        background-color: rgb(240, 240, 240);
    }
}

.filter-button input {
    display: none;
}

#loading-text {
    font-family: 'SAO Font';
    font-size: 10vw;
}

@media (min-width: 480px) {
    #loading-text {
        font-size: 5vw;
    }
}

.filter-star {
    width: 1em;
    height: 1em;
}

@media (min-width: 480px) {
    .filter-star {
        /* width: 1em;
        height: 1em; */
    }
}