body {
    overflow-y: scroll;
}

#app {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 480px) {
    .card-group {
        flex-direction: row wrap;
    }
}


.filter-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25em;
}

@media (min-width: 480px) {
    .filter-group {
        width: 30em;
    }
}

.filter-button {
    background-color: rgb(255, 255, 255, 0.9);
    font-family: 'SAO Font';
    border-width: 0px;
    border-right-width: 0.5px;
    border-style: solid;
    border-color: gray;
}
.filter-button.active {
    background-color: rgb(211, 211, 211);
}
.filter-button input[type='checkbox'] {
    display: none;
}

@media (min-width: 480px) {
    .filter-button {
        border-width: 0px;
        box-shadow:
        0 10px 25px -15px rgba(0, 0, 0, .5),
        0 -10px 25px -15px rgba(0, 0, 0, .5);
    }
    .filter-button:hover:not(.active) {
        background-color: rgb(240, 240, 240);
    }
}

#skill-type-filter {
    display: flex;
    flex-flow: row wrap;
}
#skill-type-filter label {
    flex-grow: 1;
    width: 33%;
    padding: 1em 0;
}

#rarity-filter {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1em;
}
#rarity-filter label {
    flex-grow: 1;
    padding: 1em 0;
}
.filter-star {
    width: 1em;
    height: 1em;
}

#character-filter * {
    border-radius: 0px;
}
#character-search * {
    border-radius: 0px;
}


#card-loading-text {
    margin: 3em auto;
}
#card-loading-text img {
    width: 50vw;
    height: 50vw;
}

@media (min-width: 480px) {
    #card-loading-text {
        margin: 1em auto;
        border-radius: 100px;
    }
    #card-loading-text img {
        width: 15vw;
        height: 15vw;
    }
}

#app-loading-text {
    font-family: 'SAO Font';
    font-size: 10vw;
}
#app-loading-text img {
    height: 50vw;
    width: 50vw;
}

@media (min-width: 480px) {
    #app-loading-text {
        font-size: 5vw;
    }
    #app-loading-text img {
        height: 20vw;
        width: 20vw;
    }
}
