.card-group {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.card {
    display: inline-block;
    margin: 1em;
    position: relative;
    /* transition: all .1s ease-in-out; */
}
/* .card:hover {
    transform: scale(1.0125);
    position: relative;
} */

.card-actions {
    width: 50px;
    height: 300px;
    /* background-color: aqua; */
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: 1000;
    /* display: none; */
}

.card-info {
    /* background-color: #EEEEEE; */
    /* background-color: rgba(245, 245, 245, 0.9); */
    background-color: rgba(255, 255, 255, 0.75);
    display: inline-block;
    /* width: 300px; */
    width: 15em;
    /* height: 600px; */
    height: auto;
    /* transition: max-height 0.15s ease-out; */
    font-family: 'SAO Font';
    text-align: center;
    /* padding: 1em 0em 1em 0em; */
    /* border: 1px solid #2b2525; */
    /* border-color: white; */
    /* border-color: 808080;
    border-radius: 0;
    border-style: solid;
    border-width: 1px; */
    /* cursor: pointer; */
    box-shadow:
    0 10px 25px -15px rgba(0, 0, 0, .5),
    0 -10px 25px -15px rgba(0, 0, 0, .5);
}

.card-title {
    font-size: 1.25em;
    color: #4b4b4b;
}

.card-rarity {
    padding: 0 0 1em 0;
}

.card-img {
    /* padding: 1em 0; */
    /* background-color: #D8D8D8; */
    background-color: rgb(216, 216, 216, 0.15);
    box-shadow:
        0 10px 25px -15px rgba(0, 0, 0, .5) inset,
        0 -10px 25px -15px rgba(0, 0, 0, .5) inset;
}
.card-img {
    width: 15em;
    height: 15em;
    position: relative;
}

.card-img img {
    max-width: 100%;
    max-height: 100%;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    position: absolute;
    /* z-index: -1; */
}

.card-details {
    text-align: left;
    /* width: 90%;
    margin: 0 auto; */
    padding: 0 1em;
    /* white-space: pre-wrap; */
}

.skill-name {
    font-size: 1.1em;
}

.skill-level {
    font-family: 'Kakugo';
}

.skill-description {
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Kakugo';
    font-size: 0.75em;
    line-height: 1.5;
}

.card-id-text {
    height: 2em;
}
.card-id-text span {
    opacity: 0.75;
    font-size: 0.9em;
    position: absolute;
    bottom: 0.75em;
    right: 0.75em;
    text-align: right;
}

.card-type {
    height: 1.75em;
    position: relative;
}
.card-type span {
    /* font-style: italic; */
    opacity: 0.75;
    /* font-size: 0.9em; */
    position: absolute;
    top: 0.75em;
    left: 0.75em;
    text-align: right;
}