@font-face {
    font-family: 'SAO Font';
    src: url(./font/font10.otf);
}
@font-face {
    font-family: 'Kakugo';
    src: url(./font/FOT-UDKakugo_LargePro-M.otf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    color: #636363;
    font-family: 'Roboto', sans-serif;

    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

select, input, button {
    border: 0px;
    outline: 0px;
    /* border-radius: 2em; */
    padding: 0.75em;
    box-shadow:
    0 10px 25px -15px rgba(0, 0, 0, .5),
    0 -10px 25px -15px rgba(0, 0, 0, .5);
}

#app {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
